button, a.btn {
    color: $color-white;
    background-color: $color-primary-4;
    border: 1px solid transparent;
    transition: .2s linear;
    &:hover {
        background-color: $color-primary-3;
    }
}

label {
    font-family: $font-secondary;
    font-weight: bold;
}
input, select {
    border: none;
    border-bottom: thin solid $color-primary-4;
    font-family: $font-secondary;
}