@mixin buttonColors($co, $bg, $sh) {
    // Argument : $co = color text, $bg = color background, $sh = color shadow
    color: $co!important;
    background-color: $bg!important;
    box-shadow: 0 0 5px $sh!important;
    border: 1px solid $bg!important;
}

button, button.btn, a.btn {
    transition: .2s linear;
    @include buttonColors($color-white, $color-primary-4, $color-grey-0);
    &:link, &:visited, &:hover, &:active, &:focus {
        @include buttonColors($color-white, $color-primary-3, $color-grey-1);
    }
    &.disabled, &:disabled {
        @include buttonColors($color-white, $color-grey-1, $color-grey-0);
    }
}

label {
    font-family: $font-secondary;
    font-weight: bold;
}
input, select {
    border: none;
    border-bottom: thin solid $color-primary-4;
    font-family: $font-secondary;
}